/*  azul: #02154b
    naranja: #cf9455
    gris: #757575
    blanco: #ffffff */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #cf9455;
}
body {
  background-color: #f1f3ef;
}
/* HEDER */
.header {
  height: 50vh;
}
/* NAVBAR */
.nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.icon {
  width: 100px;
}
.btn-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 800px;
}
.btn-nav-white {
  border: none;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.btn-nav-white:hover {
  color: #cf9455;
}
.orange-btn-nav {
  background-color: #cf9455;
  color: white;
  border: none;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s;
}
.orange-btn-nav:hover {
  transform: scale(1.1);
}
.span-orange-btn-nav {
  font-size: 0.8rem;
  transition: transform 0.3s;
}
.headset-img {
  width: 25px;
}
.hr-nav {
  width: 100%;
  border: none;
  height: 5px;
  margin: 0 auto;
  position: relative;
  bottom: 16px;
  height: 1px;
  background-color: white;
  border: none;
}
/* CARROUSEL */
.img-carrousel-1 {
  height: 70vh;
  background-image: url("../img/carrousel-1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-carrousel-2 {
  height: 70vh;
  background-image: url("../img/carrousel-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-carrousel-3 {
  height: 70vh;
  background-image: url("../img/carrousel-3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.titule {
  font-size: 1.5rem;
  color: #cf9455;
}
.container-titule {
  width: 60rem;
  position: relative;
  top: -430px;
  left: 200px;
  color: white;
  display: flex;
  flex-direction: column;
}
.btn-contact {
  margin-top: 30px;
  border: none;
  background-color: #cf9455;
  color: white;
  font-size: 1.1rem;
  width: 160px;
  height: 50px;
  font-weight: bold;
  transition: transform 0.3s;
}
.btn-contact:hover {
  transform: scale(1.1);
}
/* FOOTER CARROUSEL */
.footer-carrousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.179);
  width: 40rem;
  padding-top: 20px;
  position: relative;
  bottom: 310px;
  left: 850px;
}
.ancor-footer-carrousel {
  text-decoration: none;
  color: white;
}
.ancor-footer-carrousel:hover {
  color: #cf9455;
}
.icons-footer-carrousel {
  display: flex;
  justify-content: space-between;
  width: 120px;
}
.img-footer-carrousel {
  width: 20px;
}
/* ABOUT */
.img-about {
  position: relative;
  left: 130px;
  top: 10px;
}
.about-body {
  display: flex;
  margin-top: 100px;
}
.about-content {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position: relative;
  top: 100px;
  left: 200px;
  gap: 20px;
  color: #02154b;
}
.about-content h2 {
  font-size: 2rem;
  font-weight: bolder;
  color: #02154b;
}
.img-col-boga {
  height: 50px;
}
.about-orange {
  color: #cf9455;
  font-weight: bold;
  font-size: 1.5rem;
}
.btn-aboout {
  border: none;
  background-color: #cf9455;
  color: white;
  font-size: 1.1rem;
  width: 160px;
  height: 50px;
  font-weight: bold;
  transition: transform 0.3s;
}
.btn-aboout:hover {
  transform: scale(1.1);
}
.btn-col-boga {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}
.stats {
  margin-top: 30px;
  width: 500px;
  display: flex;
  justify-content: space-between;
}
.stats p {
  text-align: center;
}
.stats-numbers {
  color: #02154b;
  font-size: 2rem;
  font-weight: bolder;
}
.stats-descriptions {
  font-size: 1.1rem;
  font-weight: bolder;
}
/* RASONES PARA TRABAJAR JUNTOS */
.background-books {
  margin-top: 10px;
  height: 80vh;
  background-image: url("../img/books.png");
  background-repeat: no-repeat;
  color: white;
}
.reasons-to-work-together-containter {
  width: 700px;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: 45%;
  left: 75%;
  transform: translate(-50%, -50%);
}
.orange-reasons-to-work-together {
  color: #cf9455;
  font-weight: bolder;
  font-size: 1.5rem;
}
.h2-reasons-to-work-together-containter {
  font-size: 3rem;
  font-weight: bolder;
}
.section-row {
  display: flex;
  gap: 30px;
}
.section-column {
  display: flex;
  flex-direction: column;
}
.reasons-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 250px;
}
.number-reasons {
  font-size: 3rem;
  color: #cf9455;
}
.reasons-titule {
  font-size: 2rem;
}
.reasons-descriptions {
  font-size: 1.1rem;
}
/* AREAS LEGALES */
.header-legal-area {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 100px;
}
.orange-p-legal-area {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #cf9455;
}
.h2-legal-area {
  font-size: 2.3rem;
  font-weight: bolder;
  color: #02154b;
}
.description-legal-area {
  opacity: 60%;
}
.legal-area-tarjet {
  border: 1px solid #00000038;
  background-color: white;
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.legal-area-tarjet img {
  width: 70px;
}
.labale-container {
  margin: 30px auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.labale-container-1 {
  display: flex;
  justify-content: space-between;
}
.labale-container-2 {
  display: flex;
  justify-content: space-between;
}
.btn-mas-servicios {
  margin: 0 auto;
  padding-top: 10px;
  text-align: center;
  border: none;
  background-color: #cf9455;
  color: white;
  font-size: 1.2rem;
  width: 160px;
  height: 50px;
  font-weight: bold;
  transition: transform 0.3s;
}
.btn-mas-servicios:hover {
  transform: scale(1.1);
}
/* TESTIMONIOS DE CLIENTES */
.orange-testimonials {
  color: #cf9455;
  font-size: 1.3rem;
  font-weight: bolder;
}
.testimonial-content {
  margin-top: 100px;
  margin-bottom: 400px;
  width: 100%;
  height: 500px;
  background-color: #02154b;
  color: white;
  text-align: center;
  padding-top: 70px;
}
.carrousel-size {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 50px auto;
  width: 60%;
  height: 550px;
  gap: 20px;
  background-color: white;
  color: black;
}
.alineation {
  width: 50%;
  height: 550px;
  position: relative;
  left: 240px;
}
.quotation-img {
  width: 40px;
  margin-top: 30px;
}
.testimonial-p {
  margin-top: 30px;
  font-size: 1.2rem;
}
.testimonial-name {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #02154b;
}
.img-carrousel-testimonials {
  border-radius: 50%;
  margin-top: 20px;
}
.carousel-indicators button.active {
  background-color: #cf9455;
}
.carousel-control-next-icon.custom-color {
  color: #cf9455;
}
/* CONTACT FORM */
.contact-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  background-color: #02154b;
  width: 80%;
  height: 30vh;
}
.texto-contacto p {
  color: #cf9455;
  font-size: 1.5rem;
}
.texto-contacto h3 {
  color: white;
  font-size: 2.5rem;
}
.btn-contact-form {
  margin-top: 30px;
  border: none;
  background-color: #cf9455;
  color: white;
  font-size: 1.5rem;
  padding: 15px 20px;
  font-weight: bold;
  transition: transform 0.3s;
}
.btn-contact-form:hover {
  transform: scale(1.1);
}
/* FOOTER */
.footer-container {
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50vh;
}
.map {
  width: 610px;
  height: 360px;
}
.container-columns-footer {
  display: flex;
  justify-content: space-between;
  width: 800px;
}
.column-footer {
  display: flex;
  flex-direction: column;
  width: 32%;
  height: 80%;
  font-size: 16px;
}
.column-footer h3 {
  color: #02154b;
  margin-bottom: 20px;
}
.column-footer a {
  color: rgba(0, 0, 0, 0.458);
  margin-bottom: 10px;
}
.column-footer a:hover {
  color: #cf9455;
}
.contact-footer-icon {
  height: 20px;
}
.container-social-media-footer {
  margin-top: 20px;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}
.social-media-footer {
  height: 30px;
}
