/* NAVBAR */
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f1f3ef;
}
.nav {
  width: 95%;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #02154b;
  font-size: 1.1rem;
}
.icon {
  width: 100px;
}
.btn-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 500px;
}
.btn-nav-white {
  border: none;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.btn-nav-white:hover {
  color: #cf9455;
}
.orange-btn-nav {
  background-color: #cf9455;
  color: white;
  border: none;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s;
}
.orange-btn-nav:hover {
  transform: scale(1.1);
}
.span-orange-btn-nav {
  font-size: 0.8rem;
  transition: transform 0.3s;
}
.headset-img {
  width: 25px;
}
.hr-nav {
  width: 100%;
  border: none;
  height: 5px;
  margin: 0 auto;
  position: relative;
  bottom: 16px;
  height: 1px;
  background-color: white;
  border: none;
}
/* MAIN */
.about-us-img-1 {
  width: 60vw;
  height: 60vh;
  margin-top: 104px;
}
.about-us-img {
  width: 60vw;
  height: 60vh;
}
.p-orange-about-us {
  color: #cf9455;
  font-weight: bolder;
  font-size: 1.2rem;
}
.h3-about-us {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 20px;
  color: #02154b;
}
.p-about-us {
  font-size: 1.3rem;
  color: #02154b;
}
.about-container {
  width: 100vw;
  display: flex;
  align-items: center;
}
.first-section-about {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 50px;
}
/* CARDS */
.cards-lawyers-contain {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  width: 100vw;
  height: 100vh;
}
.lawyers-cards {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.titulo-tarjetas {
  color: #cf9455;
  font-size: 1.4rem;
  margin-bottom: 30px;
}
.lawyers-cards h3 {
  color: #02154b;
  font-size: 2rem;
  margin-top: 30px;
  margin-bottom: 8px;
}
.lawyers-history {
  color: #02154b;
  font-size: 1.2rem;
}
/* FOOTER */
.footer-container {
  margin-top: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 50vh;
}
.map {
  width: 610px;
  height: 360px;
}
.container-columns-footer {
  display: flex;
  justify-content: space-around;
  width: 500px;
}
.column-footer {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  font-size: 16px;
}
.column-footer h3 {
  color: #02154b;
  margin-bottom: 20px;
}
.column-footer a {
  color: rgba(0, 0, 0, 0.458);
  margin-bottom: 10px;
}
.column-footer a:hover {
  color: #cf9455;
}
.contact-footer-icon {
  height: 20px;
}
.container-social-media-footer {
  margin-top: 20px;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}
.social-media-footer {
  height: 30px;
}
